@import "tailwindcss";

@theme {
  --color-mfs-navy: #0a192f;
  --color-mfs-gold: #c5a059;
  --color-mfs-blue: #1e3a8a;
  --color-mfs-slate: #f8fafc;
  --color-mfs-charcoal: #334155;
}

:root {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-mfs-slate);
  color: var(--color-mfs-navy);
  overflow-x: hidden;
}

/* CUSTOM UTILITIES */
@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 20s linear infinite;
  }
  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  .animate-reverse-spin {
    animation: reverse-spin 15s linear infinite;
  }
  @keyframes reverse-spin {
    from { transform: rotate(360deg); }
    to { transform: rotate(0deg); }
  }
}